.main-bg[data-v-7466cbde]{background:#f2f0ef;background-attachment:fixed}[data-v-7466cbde] .van-cell{padding:16px 0!important}[data-v-7466cbde] .van-field__right-icon{margin:0 0 0 2px!important;padding:0}
